services:
  db:
    image: postgres:15
    container_name: art_adornos_db_dev
    environment:
      POSTGRES_DB: ${DB_NAME:-art_adornos_dev}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - art_adornos_net

  pgadmin:
    image: dpage/pgadmin4
    container_name: art_adornos_pgadmin_dev
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - art_adornos_net

volumes:
  postgres_data_dev:
  pgadmin_data:
  static_volume:
  media_volume:

networks:
  art_adornos_net:
    driver: bridge